@import url('https://fonts.googleapis.com/css2?family=Braah+One&family=Noto+Sans:ital,wght@0,100;0,300;0,500;0,600;0,700;0,800;0,900;1,400&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Braah+One&family=Noto+Sans:ital,wght@0,100;0,300;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: #000;
    max-width: 1500px;
    margin: 0 auto;

}

header{
    background-color: #000;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

header h1{
    color: #dc2545;
    font-size: 2.5rem;
}

header span{
    color: white;

}

header .navegacao-primaria{
    display:flex;
    gap: 30px;
    align-items: center;
}

header .navegacao-primaria li a{
    color: #fff;
    width: 0px;
    height: 0px;
    font-size: 1.5rem;
    
}

header .navegacao-primaria li a::after{
    content: "";
    width: 0px;
    height: 0px;
    display: block;
    border-bottom: 4px solid transparent;    
    transition: .9s;
}

header .navegacao-primaria li a:hover::after{
    width: 100%;
    height: 0px;
    padding: 0px;
    border-bottom: 4px solid red;
}


.section-div{
    animation: inicializar .7s forwards;
    background-color: #000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    padding: 60px;
}

.section-div div { 
    margin-top: 120px;
    align-self: start;
    display: grid;
    gap: 30px;
}

.section-div h2 {
    font-family: 'Poppins';
    font-weight: 600;
    color: #f7f7f7;
}

.section-div div p{
    font-family: 'Poppins';
    font-weight: 200;
    color: #f7f7f7;
}

.section-div a {
    justify-content: start;
    color: #fff;
    padding: 15px 40px;
    border-radius: 5px;
    border: 2px solid white;

}

.digitando::after {
    content: '|';
    margin-left: 0;
    opacity: 1;
    animation: pisca .9s infinite;

}

@keyframes pisca {
    from{
        opacity: 1;
        
    }

    to{
        opacity: 0;
        
    }   
}

.section-div img {
    max-width:100%;
    border-radius: 20px;
}
@keyframes inicializar {
    from{
        opacity: 0;
        transform: translate(0, -60px, 0);
    }

    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    } 
}

/* seçao principal, sobre mim*/

main{
    background-color: #111;
    color: #fff;
}

main .sobre {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    padding: 40px;
}

.sobre_titulo{
    margin: 30px 0;
    grid-column: 1/ -1;
    text-align: center;
    color: #fff;
}
.sobre_titulo h1{
    font-size: 2.5rem;
    color: red;
    margin-bottom: 15px;
    font-family: 'Berkshire Swash', cursive;
}

.sobre_titulo p {
    color: #707070;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    position: relative;
}

.sobre_titulo div {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.sobre_titulo span {
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: red;

}

.sobre img {
    animation: ladoSecao .6s ease-in;
    cursor: pointer;
    grid-row: 2;
    max-width: 100%;
    border-radius: 4px;
    filter: blur(0);
}

.sobre img:hover{
    transition: .6s ease-in;
    filter: blur(1px)
}

.sobre_conteudo {
    animation: sobeSecao .6s ease-in-out forwards;
    grid-column: 2/-1;
    display: grid;
    color: #707070;
    grid-template-columns: 1fr 1fr;
}

.sobre_texto{
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: 1fr 1fr;
}

.sobre_texto h1{
    font-size: 2.3rem;
    color: #fff;
    grid-column: 1/-1;
}

.sobre_texto h1::after {
    background-color: red;
    height: 6px;
    width: 60px;
    margin: 20px 0;
    content: "";
    display: block;
    border-radius: 5px ;
}

.sobre_texto p {
    font-size: 1.3rem;
    grid-row: 2;
    grid-column: 1/-1;
}

.sobre_info {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/-1;
    gap: 15px;
    align-items: center;
}

.sobre_info i {
    color: red;
    display: inline-block;
    padding-right: 15px;
    font-size: 1.5rem;
}

.sobre_info p {
    font-size: .9rem;
}

@keyframes sobeSecao {
    from{
        transition: .5s;
        transform: translate3d(60px, 0, 0);
    }
    to{
        transform: translate3d(0, 0, 0);
    }
}

@keyframes ladoSecao {
    from{
        transition: .5s;
        transform: translate3d(-60px, 0, 0);
    }
    to{
        transform: translate3d(0, 0, 0);
    }
}

/* Responsivo */

@media(max-width: 992px){

    .section-div img {
        display: none;
    }

    .section-div {
        background-image: url(/imagens/2023-05-21\ \(5\).png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    header {
        justify-content: space-between;
        padding: 30px 70px;
    }

    header  .navegacao-primaria {
        display: none;

    }

    header i {
        color: #f7f7f7;
        font-size: 3rem;
    }

    header  .navegacao-primaria.ativado {
        background-color: black;
        position: absolute;
        display: grid;
        top: 80px;
        color: white;
        z-index: 1;
        padding: 30px;
        font-size: 1.6rem;
        font-weight: bold;
        border-radius: 0 0 4px 4px;
        right: 20px;
        animation: sobeSecao .8s ease-in-out;
    }   

}

@media(max-width: 992px){
    .sobre img{
        grid-column: 1/-1;
        justify-self: center
    }

    .sobre_conteudo {
        grid-column: 1/-1;
    }
}

/* seçao service */

.services{
    background-color: #151515;
    margin-top: -30px;
    padding: 60px;
}

.my_services{
    padding: 60px;
    color: white;  
}

.my_services ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.my_services ul li {
    cursor: pointer;
    border-radius: 6px;
    position: relative;
    padding: 10px;
    display: grid;
    gap: 30px;
    text-align: center;
    max-width: 600px;
    height: 500px;
    background-color: #222;
    align-content: center;
    transition: 0.2s ease-in;

}

.my_services ul li i{
    font-size: 2.7rem;
    color: red;
}

.my_services ul li h3{
    color: #fff;
    font-size: 1.4rem;
    font-family: 'poppins';
    font-weight: 700;
}

.my_services ul li p{
    color: #707070;
    font-size: 1.5rem
}

.my_services li::before{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top: -1px;
    right: -1px;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
}

.my_services li::after{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top: -1px;
    right: -1px;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
}

.my_services li:hover{
    scale: 1.1;
    transition: 0.2 ease-in;
    box-shadow: 9px 0px 12px rgb(255, 0, 0);
    background-color: #2e0f14;

}
.my_resumo{
    color: #fff;
}

.resume_generico{
    color: white;
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-left: 22%;
    justify-content: center;
    gap: 30px;
    font-size:x-large;

    
}

.resume_generico h2 {
    font-family: 'poppins';
    font-size: 1.5rem;
    background-color: red;
    justify-content: start;
    padding: 10px;
    border-radius: 3px;
}

.sobre_conteudo h2 i {
    margin-right: 10px;
}

.education_content {
    grid-column: 1;
}

.education_content ul {
    display: flex;
    cursor: pointer;
    margin-top: 20px;
    justify-content: center;
    gap: 10px;
    color: #707070;
}

.education_content div {
    background-color: #222;
    padding: 40px;
    position: relative;
}

.education_content div::before{
    content: "";
    border-right: 30px solid transparent;
    border-bottom: 30px solid #222;
    position: absolute;
    top: -20px;
    left: 30px;
    display: inline-block;
}

.education_content div span {
    color: red;
    font-family: 'poppins';
    font-weight: bolder;
}


.decricao{
    font-family: 'poppins';
    color: #707070;
}

.titulo{
    font-family: 'poppins';
    margin-top: 20px;
    margin-bottom: 30px;
}


/* MY SKILLS */

.titulo-skill{
    display: flex;
    align-items: center;
}

.cursos{
    color: #fff;
}

.my_skill{
    display: grid;
}

.my_skill h2{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: red;
    font-size: 1.7rem;
    font-family: 'poppins';
    margin-bottom: 30px;
}
.my_skill h2 i{
    padding-right: 42%;
}

.skill_content{
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0px 50px 0px 50px;

}

.skill_content ul {
    display: flex;
    justify-self: start;
}
.cor{
    color: red;
}

/* footer */

.footer{
    background-color: #000;
    padding: 30px;

}

.footer_sociais{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    color: white;
}

.footer_sociais li{
    background-color: #212020;
    border-radius: 50%;
    border: 1px solid #333;
}

.footer_sociais li{
    padding: 30px;
    font-size: 1.5rem;
    color: #f7f7f7;
}

.footer_sociais li:hover{
    transition: .3s ease-in-out;
    cursor: pointer;
    background-color: #3e3e3e;
}

.footer_sociais::before{
    content: "";
    height: 5px;
    width: 200px;
    position: absolute;
    background-color: #222;
    bottom: -30px;

}

footer .footer_comercial{
    text-align: center;
    color: white;
    margin: 90px auto;
    font-size: 1.5rem;
    font-family: 'poppins';
}




